@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;

    /* Backgrounds */
    --clr-main-bg : rgb(196, 196, 196);
    --clr-form-bg : #fff;
    --clr-btn-bg : #000;

    /* Font Colors */
    --clr-title : #333;

    /* Other Color */
    --clr-valid-outline: #23DC3D;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 3vmin;
    background-color: var(--clr-main-bg);
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: min(80%,500px);
    margin-inline: auto;
    background-color: var(--clr-form-bg);
    border-radius: 10px;
    box-shadow: 2px 5px 7px 10px rgba(189, 189, 189, 0.562);
    padding: 3rem 2rem;
}


/* Inside the container */
.title {
    color: var(--clr-title);
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.form label,
.form input {
    display: block;
}

.form input {
    width: 100%;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 10px 1rem;
    font-family: inherit;
    box-shadow: inset 5px 4px 5px rgba(236, 236, 236, 0.562),
                 -2px 4px 5px rgba(236, 236, 236, 0.562);
}

.form input.valid {
    outline: 2px solid var(--clr-valid-outline);
}

.form label {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    background-color: var(--clr-btn-bg);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: rgb(0 0 0 / 80%);
}

.information-box {
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    padding: 1rem 2rem;
    letter-spacing: 2px;
}

@media (min-width:700px) {
    body {
        font-size: 2vmin;
    }

    .container {
        padding: 5rem 3rem;
    }
}